/*Vars*/
:root{
    --mainColor: hsl(204, 70%, 53%);
    --mainTextColor: hsl(204, 71%, 81%);

    --secondColor:  hsl(324, 70%, 53%);
    --secondTextColor: hsl(324, 71%, 81%);
}
/***/

/*Page Structure*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: justify;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
#wrap{
    overflow: hidden;
    margin-top:7%;
    margin-bottom: 20%;
    padding: 3% 0 0 2%;
    background: hsl(0, 0%, 96%);
    margin-bottom: 0;
}
hr{
    border-top: 1px solid hsl(0, 0%, 69%);
    margin: 1em 0;
}

/*split*/
.split4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.2em;
}
.split3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}
.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
@media(max-width:840px){
    .split4{
        grid-template-columns: 1fr 1fr;
    }
    .split3{
        grid-template-columns: 1fr;
    }
    .split{
        grid-template-columns: 1fr;
    }
}
@media(orientation:portrait){
    .split4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .split3{
        display: grid;
        grid-template-columns: 1fr;
    }
    .split{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media(max-width:400px){
    .split4{
        grid-template-columns: 1fr;
    }
}
/***/

/*Boxes*/
.box{
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border: 1px hsl(0, 0%, 35%) solid;
    box-sizing: border-box;

}
.box.black{
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 100%);
    border: 1px hsl(0, 0%, 11%) solid;
}
.box.main{
    background-color: var(--mainColor);
    color: var(--mainTextColor);
}
.box.second{
    padding: 2em;
    border: 1px hsl(0, 0%, 35%) solid;
    box-sizing: border-box;
    background-color: var(--secondColor);
    color: var(--secondTextColor);
}
/***/

/*Texts*/
blockquote{
    margin: 1.5% 0 3% 0;
    padding: 2em;
    width: 90%;
    font-style: italic; 
    text-decoration: underline;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 53%);
}
blockquote::after,blockquote::before{
    content: '"';
    text-decoration: none;
}
p{
    text-indent: 3em;
}
h1{
    font-size: 2.2em;
    font-weight: 900;
    margin: 0.5em 0em;
}
h2{
    font-size: 1.82em;
    margin: 0 0.1em;
}
h3{
    font-size: 1.64em;
    margin: 0 0.2em;
}
h4{
    font-size: 1.46em;
    margin: 0 0.3em;
}
h5{
    font-size: 1.28em;
    margin: 0 0.4em;
}
h6{
    font-size: 1.1em;
    margin: 0 0.5em;
}

a{
    color: var(--mainTextColor);
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px #f0f0f0;
}
a.second{
    color: var(--secondTextColor);
}
a:hover{
    text-decoration: underline;
}
.center-text{
    margin: auto;
    text-align: center;
}
/***/

/*Images*/
.paralax{
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/*hover image*/
.hover{
    border: 1px solid hsl(0, 0%, 11%);
    border-radius: 0.5em;
    position: relative;
    background-size:100%;
    background-position: center;
    transition: 1s;
}
.hover:hover{
    background-size:150%;
    transition: 0.08s;
}
.hover div{
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.411);
    transition: 1s;
    opacity: 0;
}
.hover div:hover{
    opacity: 1;
    transition: 0.08s;
}
.hover div p{
    font-weight: 700;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 47%;
}

/*text image*/
.text-img{
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:0;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 0.7em;
}
.text-img.main{
    background-color:var(--mainColor);
}
.text-img.second{
    background-color:var(--secondColor);
}
.text-img p{
    margin:5%;
}
.text-img div{
    border-left: 1px solid hsl(0, 0%, 36%);
    border-radius: 0 0.7em 0.7em 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media(max-width:720px){
    .text-img{
        display: inline-block;
    }
    .text-img div{
        border: 0;
        border-top: 1px solid hsl(0, 0%, 36%);
        border-radius: 0 0 0.7em 0.7em;
    }
}
@media(orientation:portrait){
    .text-img{
        display: inline-block;
    }
    .text-img div{
        border: 0;
        border-top: 1px solid hsl(0, 0%, 36%);
        border-radius: 0 0 0.7em 0.7em;
    }
}

/*cards*/
.card{
    border: 1px solid #3d3d3d;
    width:70%;
    margin: 0.3em 0;
    box-shadow: 2px 4px 10px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card.black{
    background-color: hsl(0, 0%, 14%);
    color: white;
}
.card.main{
    background-color: var(--mainColor);
    color:  var(--mainTextColor);
}
.card.second{
    background-color: var(--secondColor);
    color:  var(--secondTextColor);
}
.card:hover, .card:active {
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.card div{
    padding: 1.5em 1em;
}
.card img{
    border-bottom: 1px solid #3d3d3d;
    width: 100%;
}
@media(max-width:1020px){
    .card{
        width: 80%;
        margin: auto;
        margin-bottom: 0.7em;
    }
}
@media(orientation:portrait){
    .card{
        width: 80%;
        margin: auto;
        margin-bottom: 0.7em;
    }
}

/*dropimg*/
.dropImg{
    position: relative;
    display: inline-block;
}
.dropImg div p{
    text-indent: 0;
    text-align: center;
    padding: 2em 0.5em;
}
.dropImg div{
    border: 1px solid hsl(0, 0%, 24%);
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.dropImg:hover div {
    margin-left: 0.7em;
    display: inline;
}
/*slideshow*/
.slide-container{
    position: relative;
    text-align:center;
}
.slide{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0.2em 0px 0px 0.2em;
    user-select: none;
}
.prev{
    left: 0%;
}
.next {
    right: 0;
    border-radius: 0 0.2em 0.2em 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.slide-text{
    position: absolute;
    bottom: 5em;
    width: 100%;
    text-align: center;
}
.slide-number{
    position: absolute;
    top: 0;
    padding: 8px 12px;
    color: white;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/***/

/*Buttons*/
button:hover{
    cursor: pointer;
}
.btSlide{
    box-sizing: border-box;
    transition: 0.5s;
    padding:2.5em 3em;
    width: 16em;
    color: whitesmoke;
    background-color: var(--mainColor);
    border: 0 solid  var(--mainTextColor);
    font-size: 1.3em;
}
.btSlide:hover{
    transition: 0.2s;
    border-left:0.8em solid var(--mainTextColor);
}
.btSlide.second{
    background-color: var(--secondColor);
    border: 0 solid  var(--secondTextColor);
}
.btSlide.second:hover{
    border-left:0.8em solid var(--secondTextColor);
}
.btSlide.black{
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 14%);
    border: 0 solid  hsl(0, 0%, 20%);
}
.btSlide.black:hover{
    border-left:0.8em solid  hsl(0, 0%, 20%);
}
@media(max-width:1300px){
    .btSlide{
        display: block;
    }
}
/*filling button*/
.btFill{
    z-index: 1;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    padding: 1em;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    transition: 0.5s;
}
.btFill:hover{
    color: var(--mainTextColor);
}
.btFill::before{
    content: '';
    transition: 0.5s;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    left: 0%;
    padding: 1em;
    background-color: var(--mainColor);
    z-index: -1;
}
.btFill:hover::before{
    top: 0%;
}
.btFill.right::before{
    top: 0%;
    left: 100%;
}
.btFill.right:hover::before{
    left: 0%;
}
.btFill.second{
    border: 3px solid var(--secondColor);
    color: var(--secondColor);
}
.btFill.second:hover{
    color: var(--secondTextColor);
}
.btFill.second::before{
    background-color: var(--secondColor);
}

.btFill.black{
    border: 3px solid hsl(0, 0%, 14%);
    color: hsl(0, 0%, 14%);
}
.btFill.black:hover{
    color: white;
}
.btFill.black::before{
    background-color: hsl(0, 0%, 14%);
}
@media(max-width:720px){
    .btFill{
        display: block;
    }
    .btRound{
        display: block;
    }
}
@media(orientation:portrait){ 
    .btFill{
        display: block;
    }
    .btRound{
        display: block;
    }
    .btSlide{
        display: block;
    }
}

/*round button*/
.btRound{
    font-weight: 500;
    border: var(--mainColor) solid 5px;
    color: var(--mainColor);
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    display: block;
    transition: 0.5s;
}
.btRound:hover{
    background-color: var(--mainColor);
    color: var(--mainTextColor);
    transition: 0.2s;
}
.btRound p{
    text-indent: 0;
    font-size: 1.1em;
}
.btRound.second{
    border: var(--secondColor) solid 5px;
    color: var(--secondColor);
}
.btRound.second:hover{
    background-color: var(--secondColor);
    color: var(--secondTextColor);
}
.btRound.black{
    border:  hsl(0, 0%, 14%) solid 5px;
    color:  hsl(0, 0%, 14%);
}
.btRound.black:hover{
    background-color: hsl(0, 0%, 14%);
    color:  white;
}
/***/

/*DropDown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    padding: 0.8em 1.2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

/*summary*/
.detail, .detail-active{
    width: 30%;
}
.detail .detail-title::before{
    content: "▶︎";
    font-size: 0.6em;
}
.detail-active .detail-title::before{
    content: '\25BC';
    font-size: 0.6em;
}
.detail-content{
    display: none;
}
.detail-active .detail-content{
    display: block;
}
@media(max-width:900px){
    .detail, .detail-active{
        width: 60%;
        margin: auto;
    }
}